*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar css */
.navbar{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 26px;
  box-shadow: 0 8px 6px -6px #808080;
  border-bottom: #808080 !important;
 
}
.navbar-nav{
  text-decoration: none;
}
.navbar-nav li{
  margin: 10px;
} 
.navbar ul a{
  text-decoration: none;
  color: #808080;
}
.active{
 border-bottom: 2px solid black;
}
.nav-brand{
  font-family:'Poppins', sans-serif;
  font-weight: 700;
  font-size: 17px;
  word-spacing: 20px;
}
/* Footer css */
.footer{
  color: #ffff;
  background-color: #000000;
  padding: 20px;
}
.footer a{
  color: white;
  text-decoration: none;
  padding: 7px;
}
.footer a:hover{
  background-color: #808080;
  border-radius: 5px;
}
/* Page not found css */
.pnf{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pnf-title{
  font-size: 50px;
}
.contact-img{
  height: 60vh;
  padding: 5px;
  margin-left: 50px;
}
.policy-img{
  height: 80vh;
  padding:25px;
  margin-left: 50px;
}
.policy-content{
  padding:35px;
}
.policy-heading h4{
margin-top: 20px;
}
.forgot-password{
  margin-left: 85px;
  font-size: 12px;
  text-decoration: none;
}


